{% extends "layout.html" %}
{% block content %}
<div class="background-image">
    <div class="content-box">
        <h1>Welcome to FloodSafeDearborn</h1>
        <p>FloodSafeDearborn is dedicated to providing real-time flood information and resources to residents of Dearborn, Michigan. This platform helps residents stay informed about flood risks, emergency routes, and preparedness resources, aiming to protect homes, businesses, and communities from the dangers of flooding.</p>

        <h2>About FloodSafeDearborn</h2>
        <p>Due to low elevations and an aging sewer and drainage system, Dearborn faces significant flooding risks, especially during heavy rains. The Rouge River, which flows through Dearborn, can overflow during major rain events, adding to the flooding risk. FloodSafeDearborn's mission is to enhance community awareness, help with flood preparedness, and provide valuable tools for managing and responding to flood events in real-time.</p>

        <h2>Features of FloodSafeDearborn</h2>
        <ul>
            <li><strong>Interactive Flood Map:</strong> View real-time flooding hotspots, reported by community members, displayed on an interactive map.</li>
            <li><strong>Customizable Notifications:</strong> Set up personalized alerts to notify you of flooding near your address.</li>
            <li><strong>Historical Data:</strong> Access historical flooding data to understand flood-prone areas better.</li>
            <li><strong>Emergency Resources:</strong> Find contact information for local authorities and tips for flood protection and emergency response.</li>
        </ul>

        <h2>Flood Preparedness Tips</h2>
        <ul>
            <li><strong>Stay Informed:</strong> Sign up for flood alerts and warnings. Be aware of local weather updates and alerts from FloodSafeDearborn.</li>
            <li><strong>Prepare an Emergency Kit:</strong> Ensure you have essentials like water, food, a flashlight, batteries, and a first-aid kit. Keep this kit accessible in case of an emergency.</li>
            <li><strong>Protect Your Home:</strong> Elevate electrical appliances, seal basement walls with waterproofing compounds, and install sump pumps if necessary.</li>
            <li><strong>Have an Evacuation Plan:</strong> Familiarize yourself with local evacuation routes and establish a plan with your family.</li>
        </ul>
    </div>
</div>
{% endblock %}
